*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
    border: #000 solid;
  }
  
  .logo {
    color: #000;
    border: #000 solid;
    font-size: 1.5em;
    padding: 40px;
  }

  div{
    border: #000;
  }
  
  nav {
    position: fixed;
    
    left: 0;
    width: 500px;
    line-height: 50px;
    height: 100vh;
  }
  nav ul {
    height: 100vh;
    flex-direction: column; /* Thêm dòng này để thanh điều hướng nằm dọc */
    text-align: left; 
    border: #000 solid;
    display: inline-block;
    padding: 40% 10%;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  footer {
    
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: #000 solid;
  }
  
